<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
</head>

<body>
    <div style="vertical-align: middle" align="center">
        <div style="text-align: center; vertical-align: middle" class="tenor-gif-embed" data-postid="25518131" data-share-method="host" data-aspect-ratio="1" data-width="10%" align="center"></div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
    </br></br>

    <a href="/">Главная</a>
    <h1>Bonjour, <p th:text="${username}"></p>! (ROLE: USER)</h1>

    </br></br>

    <div style="text-align: center; vertical-align: middle">
        <div><a href="/user/table">1. Таблица всех записей</a></div>
        </br>
        <div><a href="/user/search">2. Поиск записей по весу</a></div>
    </div>

</body>
</html>