<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
</head>

<body>
    <div style="vertical-align: middle" align="center">
        <div style="text-align: center; vertical-align: middle" class="tenor-gif-embed" data-postid="25518131" data-share-method="host" data-aspect-ratio="1" data-width="10%" align="center"></div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
    </br></br>

    <a href="/">Главная</a>
    <h1>Buenos días, <p th:text="${username}"></p>! (ROLE: ADMIN)</h1>

    </br></br>

    <div style="text-align: center; vertical-align: middle">
        <div><a href="/admin/add">1. Добавить запись</a></div>
        </br>
        <div><a href="/admin/edit">2. Редактировать запись</a></div>
        </br>
        <div><a href="/admin/delete">3. Удалить запись</a></div>
    </div>

</body>
</html>